Option Grants \\

    \\ The <Board> grants each person listed on {Option Grants} (the ""Option Grant List"") an option (each an ""Option"" and collectively the ""Options"") to purchase the number of shares of the <Company>'s Common Stock listed opposite their name on the <Option Grant List> pursuant to the <Company>'s stock plan listed next to their name on the <Option Grant List>.

    \\ Unless otherwise listed on the <Option Grant List>, the terms of each <Option> shall include:

        \\ The exercise price for the <Options> shall be [Exercise Price] per share (or 110% of such amount for <Optionees> that hold 10% or more of the outstanding capital stock of the <Company>).

        \\ The "Vesting Commencement Date" of each option shall be the effective date of these resolutions.

        \\ Each <Option> shall have a 10-year term.

        \\ Each <Option> shall be exercisable at the rate of 25% of the shares on the 12-month anniversary of its "Vesting Commencement Date". After that, 1/48th of the shares under each option shall vest and become exercisable on the same day of each month for so long as the recipient of the <Option> remains an employee of or consultant to the <Company>.

        \\ Each <Option> shall be an Incentive Stock Option under Section 422 of the Internal Revenue Code of 1986, as amended, unless and to the extent limited by applicable law.

    \\ Each <Option> shall be evidenced by, and subject to, the terms and conditions of the form of stock option agreement previously approved by the <Board>. Any officer of the <Company> may modify the terms of any <Option> to give effect to any terms approved by the <Board>, or to make any changes without any material adverse financial, legal, tax, or accounting consequence to the <Company> or any of its affiliates.

    \\ The grant of each <Option> shall be subject to compliance with all applicable laws, rules, and regulations.

Option Grant List \\

    {{#Option Grants}}
    \\ {{{Name}}}: <Options> to purchase {{{ISO Shares}}} ISO shares and {{{NSO Shares}}} NSO shares under the {{{Stock Plan}}}. The "Vesting Commencement Date" shall be {{{Vesting Commencement Date}}}. {{{Vesting Schedule}}}.
    # Example Vesting Summaries:
    # 1. [] shares vest on the []-month anniversary of the Vesting Commencement Date and 1/48th of total shares vest each month thereafter
    # 2. [] shares vest on the []-month anniversary of the Vesting Commencement Date and 1/48th of total shares vest each month thereafter, subject to []% acceleration (single trigger) upon a Change of Control (as defined in the Plan)
    # 3. [] shares vest on the []-month anniversary of the Vesting Commencement Date and 1/48th of total shares vest each month thereafter, subject to []% acceleration (double trigger) upon termination of Purchaser’s Continuous Service Status (as defined in the Plan) in connection with or following the consummation of a Change of Control (as defined in the Plan)
    {{/Option Grants}}
