The undersigned taxpayer hereby elects, pursuant to Section 83(b) of the Internal Revenue Code, to include in taxpayer's gross income for the current taxable year, the amount of any compensation taxable to taxpayer in connection with taxpayers' receipt of the property described below:
\\ The name, address, taxpayer identification number and taxable year of the undersigned as as follows:
    \\ Name of Taxpayer: [Purchaser]
    \\ Name of Spouse: [Spouse]
    \\ Address: [Address]
    \\ Identification Number of Taxpayer: [Purchaser Tax ID]
    \\ Identification Number of Spouse: [Spouse Tax ID]
    \\ Taxable Year: [Taxable Year]
\\ The property with respect to which the election is made is described as follows: [Number of Shares] shares of the Common Stock of [Company Name], a Delaware corporation (the ""Company"").
\\ The date on which the property was transferred is [Effective Date].
\\ The property is subject to the following restrictions: Repurchase option at cost in favor of the <Company> upon termination of taxpayer's employment or consulting relationship.
\\ The fair market value at the time of transfer, determined without regard to any restriction other than a restriction which by its terms will never lapse, of such property is [Fair Market Value].
\\ The amount (if any) paid for such property: [Total Purchase Price].
The undersigned has submitted a copy of this statement to the person for whom the services were performed in connection with the undersigned's receipt of the above-described property. The transferee of such property is the person performing the services in connection with the transfer of said property.
The undersigned understands that the foregoing election may not be revoked except with the consent of the Commissioner.

