[Company Name], a Delaware corporation (the ""Company""), hereby acknowledges receipt of a check in the amount of [Total Purchase Price] given by [Purchaser] in consideration for [Number of Shares] of Common Stock of the <Company> recorded on the books of the <Company> as Certificate [Certificate Number].
