[
  {
    "header":"The Company executes this Receipt as of the date written below."
    , "term": "Company"
    , "entities": [
      {
        "jurisdiction": "Delaware"
        , "form": "corporation"
      }
    ]
    , "information": [ "date" ]
  }
]
