\\ The undersigned (""Purchaser"") hereby acknowledges receipt of [Number of Shares] shares of Common Stock of [Company Name], a Delaware corporation (the ""Company"").
{{#Certificated Shares}}
\\ The undersigned further acknowledges that the Secretary of the <Company>, or his or her designee, is acting as escrow holder pursuant to the Restricted Stock Purchase Agreement that <Purchaser> has previously entered into with the <Company>. As escrow holder, the Secretary of the <Company>, or their designee, holds the original of the aforementioned shares certificate in <Purchaser>'s name.
{{/Certificated Shares}}
{{^Certificated Shares}}
\\ The undersigned further acknowledges that the Secretary of the <Company>, or his or her designee, is acting as escrow holder pursuant to the Restricted Stock Purchase Agreement that <Purchaser> has previously entered into with the <Company>. As escrow holder, the Secretary of the <Company>, or their designee, holds the original of the aforementioned shares issued in <Purchaser>'s name.
{{/Certificated Shares}}
