[
  {
    "header": "The undersigned executes this Stock Power as of the date written below."
    {{#Purchaser}}
    , "name": "{{{Purchaser}}}"
    {{/Purchaser}}
    , "information": [ "address", "email" ]
  }
  , {
    {{#Spouse}}
      {{#Purchaser}}
      "header": "{{{Spouse}}}, spouse of {{{Purchaser}}}, executes this Stock Power as of the same date."
      , "name": "{{{Spouse}}}"
      {{/Purchaser}}
      {{^Purchaser}}
      "header": "{{{Spouse}}}, spouse of ____________, executes this Stock Power as of the same date."
      , "name": "{{{Spouse}}}"
      {{/Purchaser}}
    {{/Spouse}}
    {{^Spouse}}
      {{#Purchaser}}
      "header": "____________, spouse of {{{Purchaser}}}, executes this Stock Power as of the same date."
      {{/Purchaser}}
      {{^Purchaser}}
      "header": "____________, spouse of ____________, executes this Stock Power as of the same date."
      {{/Purchaser}}
    {{/Spouse}}
  }
]
