[
  {
    "header": "The Company and Optionee execute this Notice as of the date of grant."
    , "term": "Company"
    , "entities": [
      {
        "jurisdiction": "Delaware"
        {{#Company Name}}
        , "name": "{{{Company Name}}}"
        {{/Company Name}}
        , "form": "corporation"
      }
    ]
    , "information": [ "address" ]
  }
  , {
    "header": "The Company and Optionee execute this Notice as of the date of grant."
    , "term": "Optionee"
    {{#Optionee}}
    , "name": "{{{Optionee}}}"
    {{/Optionee}}
    , "information": [ "address" ]
  }
]
